@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import 'prismjs/themes/prism-tomorrow.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --color-elysia-50: #fcf3f9;
    --color-elysia-100: #fbe8f5;
    --color-elysia-200: #f9d1ec;
    --color-elysia-300: #f4a9d9;
    --color-elysia-400: #ed79c1;
    --color-elysia-500: #e351a7;
    --color-elysia-600: #d13187;
    --color-elysia-700: #b5216d;
    --color-elysia-800: #951f59;
    --color-elysia-900: #7d1e4d;
    --color-elysia-950: #4c0b2b;

    --color-secondary-50 : var(--color-zinc-50);
    --color-secondary-100: var(--color-zinc-100);
    --color-secondary-200: var(--color-zinc-200);
    --color-secondary-300: var(--color-zinc-300);
    --color-secondary-400: var(--color-zinc-400);
    --color-secondary-500: var(--color-zinc-500);
    --color-secondary-600: var(--color-zinc-600);
    --color-secondary-700: var(--color-zinc-700);
    --color-secondary-800: var(--color-zinc-800);
    --color-secondary-900: var(--color-zinc-900);
    --color-secondary-950: var(--color-zinc-950);

    --font-sans: 'Inter',sans-serif;
}
body{
    font-family: var(--font-sans);
}