<header
  class="fixed inset-x-0 top-0 z-30 flex flex-none items-center bg-white/90 backdrop-blur-sm h-[60px] border-b border-b-gray-200 dark:bg-gray-900 dark:text-white dark:border-b-gray-800"
  x-data="{open:false, darkMode: false,}"
>
  <div
    class="container mx-auto xl:max-w-7xl px-4 lg:px-8 flex grow items-center justify-between gap-2"
  >
    <a href="/" class="font-semibold text-[20px]"
      >🌸<span
        class="hidden transition-opacity duration-150 ease-out group-hover:opacity-75 sm:inline-block"
        >Elysia UI</span
      ></a
    >
    <div class="flex items-center">
      <nav class="mr-1.5 hidden items-center gap-7 lg:flex">
        <a
          href="/"
          class="group relative text-sm font-semibold text-gray-900 hover:text-black dark:text-gray-100 dark:hover:text-white hover:border-b hover:border-b-gray-900"
          >Docs</a
        >
        <a
          href="/"
          class="group relative text-sm font-semibold text-gray-900 hover:text-black dark:text-gray-100 dark:hover:text-white hover:border-b hover:border-b-gray-900 transition-colors"
          >Components</a
        >
      </nav>
      <div
        class="mx-6 hidden h-8 w-px bg-linear-to-b from-transparent via-gray-200 to-transparent lg:block dark:via-gray-700"
      >
      </div>
      <div class="flex items-center gap-2">
        <button
          @click="darkMode = !darkMode; document.documentElement.classList.toggle('dark')"
          class="hidden md:inline-flex py-2 px-2 rounded-md border border-gray-300 bg-white text-gray-900 cursor-pointer hover:text-elysia-500 hover:border-elysia-300 dark:bg-gray-900 dark:text-white dark:border-gray-800 dark:hover:border-gray-800 dark:hover:text-white"
        >
          <template x-if="!darkMode">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-sun-icon lucide-sun w-4 h-4"
              ><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"
              ></path><path d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"
              ></path><path d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"
              ></path><path d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"
              ></path><path d="m19.07 4.93-1.41 1.41"></path></svg
            >
          </template>
          <template x-if="darkMode">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-moon-icon lucide-moon w-4 h-4"
              ><path
                d="M20.985 12.486a9 9 0 1 1-9.473-9.472c.405-.022.617.46.402.803a6 6 0 0 0 8.268 8.268c.344-.215.825-.004.803.401"
              ></path></svg
            >
          </template>
        </button>
        <button
          @click="open = !open"
          class="md:hidden py-2 px-2 rounded-md border border-gray-300 dark:border-gray-800 bg-white text-gray-900 cursor-pointer hover:text-elysia-500 hover:border-elysia-300 dark:bg-gray-900 dark:text-white dark:hover:text-white"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-menu-icon lucide-menu w-4 h-4"
            ><path d="M4 5h16"></path><path d="M4 12h16"></path><path
              d="M4 19h16"></path></svg
          ></button
        >
        <a
          href="/"
          class="hidden xl:inline-flex text-gray-900 ml-3 hover:text-elysia-600 dark:text-gray-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-github-icon lucide-github w-4 h-4"
            ><path
              d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
            ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
          >
        </a>
      </div>
    </div>
  </div>
  
  <div
    x-show="open"
    x-transition:enter="transition ease-out duration-200"
    x-transition:enter-start="opacity-0 -translate-y-2"
    x-transition:enter-end="opacity-100 translate-y-0"
    x-transition:leave="transition ease-in duration-150"
    x-transition:leave-start="opacity-100 translate-y-0"
    x-transition:leave-end="opacity-0 -translate-y-2"
    @click.outside="open = false"
    class="absolute top-[60px] inset-x-0 bg-white dark:bg-gray-900 border-t border-gray-200 dark:border-gray-700 shadow-sm lg:hidden"
  >
    <!-- 👇 Di sini saja yang kita ubah sedikit -->
    <nav
      class="flex flex-col py-3 px-4 sm:px-6 lg:px-8 space-y-3 container mx-auto xl:max-w-7xl"
    >
      <a
        href="/"
        class="block py-2 font-semibold text-gray-800 dark:text-gray-100 hover:text-elysia-500 dark:hover:text-elysia-400 transition-colors"
        >Docs</a
      >
      <a
        href="/"
        class="block py-2 font-semibold text-gray-800 dark:text-gray-100 hover:text-elysia-500 dark:hover:text-elysia-400 transition-colors"
        >Components</a
      >
    </nav>
  </div>
</header>
