<aside id="simplebar" class="fixed left-0 z-20 w-64 border-secondary-100 bg-white p-6 transition-transform duration-300 ease-out will-change-transform lg:left-auto lg:w-48 lg:translate-x-0 lg:border-r lg:p-8 xl:w-60 xl:pr-3 dark:border-secondary-800 dark:bg-secondary-900 -translate-x-full h-[calc(100dvh-4.5rem)]" data-simplebar>
    <nav class="flex w-full flex-col items-start">
        <h5 class="mb-3 pn-0.5 text-sm font-medium text-gray-800 dark:text-gray-200">Docs</h5>
            <a class="flex items-center border-l-2 py-1 pl-3 text-sm leading-6 border-elysia-400 font-semibold text-gray-950 dark:border-elysia-400 dark:text-white" href="/docs/introduction"><span class="grow">Introduction</span></a>
            <a class="flex items-center border-l-2 py-1 pl-3 text-sm leading-6 border-gray-100 text-gray-600 hover:border-gray-200 hover:text-gray-950 dark:border-gray-700 dark:text-gray-400 dark:hover:border-gray-600 dark:hover:text-white" href="/docs/getting-started">Getting Started</a>
        <h5 class="mb-3 pb-0.5 text-sm font-medium text-secondary-800 dark:text-secondary-200 pt-6">Components</h5>

    </nav>
</aside>