---
import Navbar from "../components/layout/Navbar.astro";
import Sidebar from "../components/layout/Sidebar.astro";
import "../styles/globals.css";
import { Prism } from '@astrojs/prism'
import BProgressClient from "../components/BProgressClient.astro";
export const viewTransition = true;
import Nav from "@/components/react/Nav";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Elysia UI - Beautifully Component Made With Tailwind CSS and Alphine JS
    </title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"
    />
  </head>
  <body class="antialiased bg-background text-foreground dark:bg-background dark:text-foreground">
    <div
      id="page-container"
      class="mx-auto flex min-h-dvh w-full min-w-[320px] flex-col bg-gray-100 text-gray-800 dark:bg-background dark:text-gray-200"
    >
      <div id="page-content" class="flex h-full max-w-full flex-auto flex-col">
        <Nav client:load/>
        <main
          class="grow bg-white dark:bg-background pt-[3rem] dark:text-gray-100"
        >
          <div class="bg-white dark:bg-background">
            <div class="container mx-auto xl:max-w-7xl relative flex">
              <Sidebar />
			  <div class="max-w-full grow overflow-hidden p-4">
				<slot />
        <BProgressClient client:load />
			  </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      is:inline></script>
    <script
      src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"
      is:inline></script>
    <script type="module" src="/src/scripts/bprogress.js" is:inline></script>
  </body>
</html>
