---
import Navbar from "../components/layout/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Elysia UI - Beautifully Component Made With Tailwind CSS and Alphine JS
    </title>
  </head>
  <body class="antialiased">
    <div
      id="page-container"
      class="mx-auto flex min-h-dvh w-full min-w-[320px] flex-col bg-white text-gray-800 dark:bg-gray-900 dark:text-gray-200"
    >
      <div id="page-content" class="flex h-full max-w-full flex-auto flex-col">
        <Navbar />
        <main class="grow bg-white dark:bg-gray-900 pt-[1rem]">
          <div class="dark:bg-secondary-900">
            <div class="container mx-auto xl:max-w-full relative">
              <slot />
            </div>
          </div>
        </main>
        <footer
          class="relative flex-none border-t border-gray-100 bg-gray-50 dark:border-gray-800 dark:bg-gray-900 dark:text-gray-100 overflow-hidden"
        >
          <div
            class="container mx-auto xl:max-w-7xl py-16 lg:py-32 px-4 lg:px-8 relative z-10"
          >
            <div
              class="grid grid-cols-2 gap-12 md:grid-cols-3 md:gap-6 lg:gap-10"
            >
              <div class="space-y-6">
                <h4
                  class="font-medium tracking-wider text-gray-400 uppercase dark:text-gray-500 text-sm"
                >
                  Elysia UI
                </h4>
                <nav class="flex flex-col items-start gap-3 text-sm">
                  <a
                    class="font-medium text-gray-600 hover:text-gray-500 dark:text-gray-400"
                    href="/docs/introduction">Introduction</a
                  >
                  <a
                    class="font-medium text-gray-600 hover:text-gray-500 dark:text-gray-400"
                    href="/docs/getting-started">Getting Started</a
                  >
                  <a
                    class="font-medium text-gray-600 hover:text-gray-500 dark:text-gray-400"
                    href="/">Components</a
                  >
                  <a
                    class="font-medium text-gray-600 hover:text-gray-500 dark:text-gray-400"
                    href="/">License</a
                  >
                  <a
                    class="font-medium text-gray-600 hover:text-gray-500 dark:text-gray-400"
                    href="/">Privacy Policy</a
                  >
                  <a
                    class="font-medium text-gray-600 hover:text-gray-500 dark:text-gray-400"
                    href="/">Term Of Service</a
                  >
                </nav>
              </div>
              <div class="space-y-6">
                <h4
                  class="font-medium tracking-wider text-gray-400 uppercase dark:text-gray-500 text-sm"
                >
                  More Project
                </h4>
                <nav class="flex flex-col items-start gap-3 text-sm">
                  <a
                    class="font-medium text-gray-600 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-50"
                    href="#">Coming Soon</a
                  >
                </nav>
              </div>
              <div class="col-span-2 space-y-6 md:col-span-1">
                <h4
                  class="text-xs font-medium tracking-wider text-gray-400 uppercase dark:text-gray-500"
                >
                  More Info ?
                </h4>
                <div class="space-y-4">
                  <p
                    class="text-sm leading-relaxed text-gray-700 dark:text-gray-400"
                  >
                    Subscribe to our elysia ui newsletter and we will notify you
                    about all the new Alpine components as they are made
                    available.
                  </p>
                  <div class="relative" id="subscribe">
                    <form class="space-y-3">
                      <div class="relative flex gap-1.5">
                        <div class="relative grow">
                          <input
                            class="block w-full rounded-lg border border-gray-200 placeholder:text-gray-500 focus:border-primary-500 focus:ring-1 focus:ring-elysia-400 dark:border-gray-700 dark:bg-gray-900/10 dark:focus:border-gray-500 px-2.5 py-2 text-sm leading-5 absolute inset-0 z-2 outline-none"
                            type="text"
                            name="ui-color"
                            tabindex="-1"
                            value=""
                            placeholder="Your E-mail"
                          />
                        </div>
                        <button
                          type="submit"
                          class="group inline-flex items-center justify-center gap-2 rounded-lg border border-elysia-300 bg-elysia-300 font-semibold text-elysia-dark hover:border-elysia-hiver hover:bg-elysia-400 hover:text-white focus:ring-gray-500/50 active:border-secondary-700 active:bg-secondary-700 dark:border-secondary-600/50 dark:bg-secondary-500/50 dark:ring-secondary-600/50 dark:hover:border-secondary-600 dark:hover:bg-secondary-600/75 dark:active:border-secondary-600/50 dark:active:bg-secondary-600/50 focus:ring-2 focus:outline-hidden min-w-[1.875rem] px-1.5 py-2 text-sm leading-5 sm:px-2 flex-none"
                        >
                          <span class="px-1">Subscribe!</span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="mt-10 flex flex-col gap-6 rounded-lg bg-gray-100 p-4 text-center text-sm md:-mx-4 md:flex-row-reverse md:justify-between md:gap-0 md:text-left dark:bg-gray-800/35"
            >
              <div
                class="flex items-center justify-center gap-1 font-semibold text-secondary-500 dark:text-secondary-400"
              >
                Crafted With <span>❤</span><span>by</span><a
                  href="/"
                  class="transition font-medium text-gray-700 underline decoration-gray-500/50 underline-offset-2 hover:text-black dark:text-gray-300 dark:decoration-secondary-400/50 dark:hover:text-white"
                  >Elysia UI</a
                >
              </div>
              <div class="text-secondary-700 dark:text-secondary-300">
                <span class="font-semibold">Giri Diwa Adam</span> © 2025
              </div>
            </div>
            <div
              class="flex items-center justify-center gap-2 pt-10 font-medium"
            >
              <span class="text-sm">Designed with</span><span
                ><a href="/" class="group flex items-center gap-1"
                  >❤ Giri Diwa Adam</a
                ></span
              >
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      is:inline></script>
  </body>
</html>
