---
import Navbar from "../components/layout/Navbar.astro";
import Nav from "@/components/react/Nav";
---

<!doctype html>
<html lang="en" class="layout-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Elysia UI - Beautifully Component Made With Tailwind CSS and Alphine JS
    </title>
  </head>
  <body
    class="antialiased bg-background text-foreground dark:bg-background dark:text-foreground"
  >
  <div class="bg-background relative z-10 flex-in-svh flex-col">
    <Nav client:load />
    <main class="flex flex-col flex-1">
      <slot />
    </main>
  </div>

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      is:inline></script>
  </body>
</html>
